# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# IDE
.idea

# credentials
credentials/yelp-api-key.txt

# package lock
package-lock.json