<div class="row" *ngIf="pageState === 'beforeSearch'">
    <div class="no-padding col-xs-12 full-width">
        <div id="search-card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Get Started</mat-card-title>
                    <mat-card-subtitle>Enter your address or coordinates</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div id="search-container">
                        <small class="error-text" *ngIf="httpErrorMessage">
                            Unable to reach the server. Please try again later.
                        </small>
                        <p *ngIf="noPlacesFound">
                            We couldn't find any places to eat near you
                        </p>
                        <mat-form-field class="full-width">
                            <input matInput [(ngModel)]="targetLocation" placeholder="Address">
                            <button mat-button *ngIf="targetLocation" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="targetLocation=null;">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="row">
                            <div class="col-xs-6 coordinates-column">
                                <mat-form-field class="coordinates-input">
                                    <input matInput type="number"
                                           [(ngModel)]="targetLatitude"
                                           placeholder="Latitude">
                                    <button mat-button *ngIf="targetLatitude" matSuffix mat-icon-button
                                            aria-label="Clear"
                                            (click)="targetLatitude=null; targetLongitude=null">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-6 coordinates-column">
                                <mat-form-field class="coordinates-input">
                                    <input matInput type="number"
                                           [(ngModel)]="targetLongitude"
                                           placeholder="Longitude">
                                    <button mat-button *ngIf="targetLongitude" matSuffix mat-icon-button
                                            aria-label="Clear"
                                            (click)="targetLatitude=null; targetLongitude=null">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-expansion-panel
                                (opened)="useMoreOptions = true"
                                (closed)="useMoreOptions = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span *ngIf="useMoreOptions">More options</span>
                                    <span *ngIf="!useMoreOptions" class="light-text">More options</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span class="extra-options-label">Selection style</span>
                            <mat-form-field>
                                <mat-select [(ngModel)]="selectionStyle">
                                    <mat-option value="list">List</mat-option>
                                    <mat-option value="comparison">Comparison</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <span class="extra-options-label">How far to look</span>
                            <mat-form-field>
                                <mat-select [(ngModel)]="maxDistance">
                                    <mat-option value="1000">Very Close</mat-option>
                                    <mat-option value="3000">Close</mat-option>
                                    <mat-option value="12000">Not so Close</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <span class="extra-options-label">Maximum number of places to show</span>
                            <mat-form-field>
                                <mat-select [(ngModel)]="searchLimit">
                                    <mat-option value="10">Very Few</mat-option>
                                    <mat-option value="25">A Few</mat-option>
                                    <mat-option value="50">A Lot</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <span class="extra-options-label">Maximum price</span>
                            <mat-slider
                                    color="primary"
                                    [max]="4"
                                    [min]="1"
                                    [(ngModel)]="maxPrice">
                            </mat-slider>
                            <br>
                            <span class="extra-options-label">Minimum rating</span>
                            <mat-slider
                                    color="primary"
                                    [max]="5"
                                    [min]="1"
                                    [(ngModel)]="minRating">
                            </mat-slider>
                            <br>
                            <mat-checkbox [(ngModel)]="onlyIncludeOpenNow" color="primary">
                                <span id="open-now-checkbox-label">Only include open places</span>
                            </mat-checkbox>
                            <mat-form-field class="full-width">
                                <input matInput [(ngModel)]="searchTerm" placeholder="Search Term">
                                <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button
                                        aria-label="Clear" (click)="searchTerm=null;">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </mat-expansion-panel>
                        <br>
                        <span>
                            <small
                                    *ngIf="(targetLocation == null || targetLocation === '')
                                    && (!targetLatitude || !targetLongitude)">
                                    Enter your address or coordinates to continue
                            </small>
                            <small class="error-text" *ngIf="
                            !((targetLocation == null || targetLocation === '')
                                && (!targetLatitude || !targetLongitude)) &&
                            ((targetLatitude != null && targetLongitude != null)
                         && (abs(targetLatitude) > 90 || abs(targetLongitude) > 180))">
                                Your coordinates seem to be invalid
                            </small>
                            <button *ngIf="(!((targetLocation == null || targetLocation === '')
                                    && (!targetLatitude || !targetLongitude)) &&
                            !((targetLatitude != null && targetLongitude != null)
                             && (abs(targetLatitude) > 90 || abs(targetLongitude) > 180)))"
                                    mat-raised-button color="primary"
                                    (click)="doSearch()">
                                Start
                            </button>
                        </span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="row" *ngIf="pageState === 'loading'">
    <div class="no-padding col-xs-12 full-width">
        <div id="loading-card-container">
            <mat-card>
                <mat-card-content id="loading-spinner-container">
                    <mat-spinner color="primary" id="loading-spinner"></mat-spinner>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="row" *ngIf="pageState === 'afterSearch'">
    <div id="instruction-card-column" class="col-xs-12 full-width">
        <div id="instruction-card-container">
            <mat-card>
                <mat-card-content>
                    <!--TODO: Add logo-->
                    <span id="remove-instruction">Remove your <b *ngIf="numToRemove > 1">{{numToRemove}}</b> least favorite place{{numToRemove > 1 ? 's': ''}}</span>
                    <br>
                    <a id="search-location"
                       href="https://maps.google.com/?ll={{searchLatitude}},{{searchLongitude}}"
                       target="_blank">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        Searching from {{searchLatitude}}, {{searchLongitude}}</a>
                    <br>
                    <span class="light-text" *ngIf="selectionStyle === 'comparison'">
                        {{unremovedPlaces.length - 1}} comparison<span *ngIf="unremovedPlaces.length > 2">s</span> remaining
                    </span>
                    <br *ngIf="selectionStyle === 'list'">
                    <div *ngIf="selectionStyle === 'list'">
                        <mat-form-field>
                            <mat-select [(ngModel)]="sortCriteria" placeholder="Order By"
                                        (selectionChange)="sortUnremovedPlaces(sortCriteria, sortOrder)">
                                <mat-option value="price">Price</mat-option>
                                <mat-option value="rating">Rating</mat-option>
                                <mat-option value="distance">Distance</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="sortCriteria">
                            <mat-select [(ngModel)]="sortOrder" placeholder="Order Direction"
                                        (selectionChange)="sortUnremovedPlaces(sortCriteria, sortOrder)">
                                <mat-option value="ascending">Ascending</mat-option>
                                <mat-option value="descending">Descending</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div *ngFor="let place of unremovedPlaces; let i = index">
        <div class="col-xs-12 col-md-6 col-lg-4 unremoved-place-column" *ngIf="i <= 1 || selectionStyle == 'list'">
            <mat-card>
                <mat-card-header>
                    <a mat-card-avatar href="{{place.url}}"
                       target="_blank">
                        <img mat-card-avatar class="place-thumbnail" src="{{place.image_url}}">
                    </a>
                    <mat-card-title class="place-name">{{place.name}}</mat-card-title>
                    <mat-card-subtitle>
                        <span class="place-price">{{place.price}}</span>
                        <span class="place-rating-container">
                        <span class="place-rating" *ngFor="let i of getArrayOfLength(place.rating)">★</span>
                    </span>
                        <span class="place-distance">{{(place.distance / 1000).toFixed(1)}} km</span>
                    </mat-card-subtitle>
                    <span class="fill-remaining-space"></span>
                    <button mat-mini-fab color="warn" (click)="removePlace(place)">
                        <mat-icon aria-label="Remove Place">close</mat-icon>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <a class="place-address"
                       href="https://maps.google.com/?q={{getAddressString(place.location)}}"
                       target="_blank">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{getAddressString(place.location)}}
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="row" *ngIf="pageState === 'afterSearch'">
    <div class="col-xs-12 col-md-6 col-lg-4 unremoved-place-column" *ngFor="let place of removedPlaces">
        <span class="light-text">
            <del>{{place.name}}</del>
        </span>
    </div>
</div>
<div class="row" *ngIf="pageState === 'passToNextPerson'">
    <div class="no-padding col-xs-12 full-width">
        <div id="next-person-container">
            <mat-card>
                <mat-card-content id="next-person-content">
                    <span>Pass the device to your friend</span>
                    <br>
                    <button mat-raised-button color="primary" id="pass-button" (click)="continueFromNextPerson()">
                        Continue
                        <mat-icon aria-label="Continue">play_arrow</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="row" *ngIf="pageState === 'decidedPlace'">
    <div id="chosen-place-column" class="col-xs-12">
        <mat-card>
            <mat-card-header>
                <a mat-card-avatar href="{{chosenPlace.url}}"
                   target="_blank">
                    <img mat-card-avatar class="place-thumbnail" src="{{chosenPlace.image_url}}">
                </a>
                <mat-card-title><h1 id="chosen-place-name">{{chosenPlace.name}}</h1></mat-card-title>
                <span class="fill-remaining-space"></span>
                <button mat-icon-button color="primary" (click)="resetPage()">
                    <mat-icon aria-label="Reset">replay</mat-icon>
                </button>
            </mat-card-header>
            <!--<img mat-card-image src="{{chosenPlace.image_url}}">-->
            <mat-card-content>
                <span>
                    <span class="place-price">{{chosenPlace.price}}</span>
                    <span class="place-rating-container">
                        <span class="place-rating" *ngFor="let i of getArrayOfLength(chosenPlace.rating)">★</span>
                    </span>
                    <span class="place-distance">{{(chosenPlace.distance / 1000).toFixed(1)}} km</span>
                </span>
                <br>
                <a class="place-address"
                   href="https://maps.google.com/?q={{getAddressString(chosenPlace.location)}}"
                   target="_blank">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    {{getAddressString(chosenPlace.location)}}
                </a>
                <br>
                <a href="https://maps.google.com/?q={{getAddressString(chosenPlace.location)}}"
                   target="_blank">
                    <button mat-raised-button color="primary">
                        Open in maps
                    </button>
                </a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
