.row {
    margin-left: 0;
    margin-right: 0;
}

#search-card-container, #loading-card-container, #instruction-card-column, .unremoved-place-column, #search-container, #next-person-container, #chosen-place-column {
    padding: 10px;
}

.coordinates-column {
    padding: 0;
}

.coordinates-input {
    width: 90%;
}

#open-now-checkbox-label {
    font-weight: normal !important;
}

.extra-options-label {
    padding-right: 10px;
}

.light-text {
    color: rgba(0,0,0,.54);
}

.full-width {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.error-text {
    color: #DC3545;
}

#loading-spinner-container {
    text-align: center;
}

#loading-spinner {
    margin: auto;
}

#search-location, .place-address {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
}

.fill-remaining-space {
    flex: 1;
}

.place-name {
    vertical-align: central;
}

.place-price {
    color: #28A745;
}

.place-rating-container {
    padding-left: 10px;
}

.place-rating {
    color: #DC3545;
}

.place-distance {
    padding-left: 10px;
    color: #DC3545;
}

#pass-button {
    margin-top: 10px
}

#next-person-content {
    text-align: center;
}

#chosen-place-name {
    vertical-align: central;
    margin: 0;
}