.row {
    margin-left: 0;
    margin-right: 0;
}

#search-card-container, #loading-card-container {
    padding: 10px;
}
#search-container {
    padding: 10px;
}

.full-width {
    width: 100%;
}

.error-text {
    color: #DC3545;
}

#loading-spinner-container {
    text-align: center;
}

#loading-spinner {
    margin: auto;
}