<div class="row" *ngIf="pageState === 'beforeQuery'">
    <div class="col-xs-12 full-width">
        <div id="search-card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Get Started</mat-card-title>
                    <mat-card-subtitle>Enter your address or coordinates</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div id="search-container">
                        <mat-form-field class="full-width">
                            <input matInput [(ngModel)]="targetLocation" placeholder="Address">
                        </mat-form-field>
                        <table class="full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="full-width">
                                        <input matInput type="number"
                                               [(ngModel)]="targetLatitude"
                                               placeholder="Latitude">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="full-width">
                                        <input matInput type="number"
                                               [(ngModel)]="targetLongitude"
                                               placeholder="Longitude">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <span>
                            <small
                                *ngIf="(targetLocation == null || targetLocation === '')
                                    && (!targetLatitude || !targetLongitude)">
                                    Enter your address or coordinates to continue
                            </small>
                            <small class="error-text" *ngIf="
                            !((targetLocation == null || targetLocation === '')
                                && (!targetLatitude || !targetLongitude)) &&
                            ((targetLatitude != null && targetLongitude != null)
                         && (abs(targetLatitude) > 90 || abs(targetLongitude) > 90))">
                                Your coordinates seem to be invalid
                            </small>
                            <button *ngIf="(!((targetLocation == null || targetLocation === '')
                                    && (!targetLatitude || !targetLongitude)) &&
                            !((targetLatitude != null && targetLongitude != null)
                             && (abs(targetLatitude) > 90 || abs(targetLongitude) > 90)))"
                                    mat-raised-button color="accent">
                                Start
                            </button>
                        </span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="row">
</div>
