<div class="row" *ngIf="pageState === 'beforeSearch'">
    <div class="col-xs-12 full-width">
        <div id="search-card-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Get Started</mat-card-title>
                    <mat-card-subtitle>Enter your address or coordinates</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div id="search-container">
                        <small class="error-text" *ngIf="httpErrorMessage">
                            Unable to reach the server. Please try again later.
                        </small>
                        <mat-form-field class="full-width">
                            <input matInput [(ngModel)]="targetLocation" placeholder="Address">
                        </mat-form-field>
                        <table cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number"
                                               [(ngModel)]="targetLatitude"
                                               placeholder="Latitude">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number"
                                               [(ngModel)]="targetLongitude"
                                               placeholder="Longitude">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <span>
                            <small
                                    *ngIf="(targetLocation == null || targetLocation === '')
                                    && (!targetLatitude || !targetLongitude)">
                                    Enter your address or coordinates to continue
                            </small>
                            <small class="error-text" *ngIf="
                            !((targetLocation == null || targetLocation === '')
                                && (!targetLatitude || !targetLongitude)) &&
                            ((targetLatitude != null && targetLongitude != null)
                         && (abs(targetLatitude) > 90 || abs(targetLongitude) > 180))">
                                Your coordinates seem to be invalid
                            </small>
                            <button *ngIf="(!((targetLocation == null || targetLocation === '')
                                    && (!targetLatitude || !targetLongitude)) &&
                            !((targetLatitude != null && targetLongitude != null)
                             && (abs(targetLatitude) > 90 || abs(targetLongitude) > 180)))"
                                    mat-raised-button color="accent"
                                    (click)="doSeearch()">
                                Start
                            </button>
                        </span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="row" *ngIf="pageState === 'loading'">
    <div class="col-xs-12 full-width">
        <div id="loading-card-container">
            <mat-card>
                <mat-card-content id="loading-spinner-container">
                    <mat-spinner id="loading-spinner"></mat-spinner>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div class="row" *ngIf="pageState === 'afterSearch'">
    <div class="col-xs-12 full-width">
        <div id="instruction-card-container">
            <mat-card>
                <mat-card-content>
                    <p>Remove your {{numToRemove}} <b>least</b> favorite places</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 unremoved-place-column" *ngFor="let place of unremovedPlaces">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar class="place-thumbnail" src="{{place.image_url}}">
                <mat-card-title class="place-name">{{place.name}}</mat-card-title>
                <mat-card-subtitle>
                    <span class="place-price">{{place.price}}</span>
                    <span class="place-rating-container">
                        <span class="place-rating" *ngFor="let i of getArrayOfLength(place.rating)">★</span>
                    </span>
                    <span class="place-distance">{{(place.distance / 1000).toFixed(1)}} km</span>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{getAddressString(place.location)}}
            </mat-card-content>
        </mat-card>
    </div>
</div>
